// @import "variables";
// body {
//     background: $main-bg;
// }
* {
    margin: 0;
    padding: 0;
  }
header {
    margin: 10px;
    padding: 20px;
    display: flex;
}
footer {
    height: 80px;
    background: greenyellow;
}

  .content {
    min-height: calc(100vh - 80px);
  }
  
  