$main-bg: lighten(#00f, 30%);

$common-top-padding: 10px;
$common-side-padding: 15px;
$common-paddings: $common-top-padding $common-side-padding;

$base-bg: #ccc;

$bg-header: #aaa;

$base-border-rad: 3px;

$error-color: #f00;
$correct-color: #006400;
